body {
    margin: 30px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d88aa;
}

.container {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 5px 15px;
    gap: 20px;
    padding-bottom: 100px;
    position: relative;
}

.card {
    width: 100%;
    height: auto;
    grid-column: span 2;
    margin: 10px 0;
    border-radius: 13px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, -1);
    background-color: rgb(255, 255, 255);
    /*transition: all 0.5s;*/
}

.card-img {
    padding: 0;
    padding-bottom: 5px;
}

.card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 13px;
}

.card-body {
    padding: 5px 15px;
}

.card-body h5 {
    margin: 0;
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
}

.card-body h6 {
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: rgb(169, 169, 169);
}

.card-btn{
    text-align: center;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 25px 0;
    border-radius: 25px;
    transition: background 0.5s;
    margin-left: 80px;
    margin-right: 80px;
}

.card-btn a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.card-btn:hover{
    cursor: pointer;
    background: rgb(52,92,55);
}